
services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"

  auth-service:
    build: ./auth-service
    ports:
      - "5001:5001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/authdb
    depends_on:
      - mongo

  productservice:
    build: ./productservice
    ports:
      - "5002:5002"
    environment:
      - MONGO_URI=mongodb://mongo:27017/productdb
    depends_on:
      - mongo

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - productservice
